# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

data/1_combinedData.csv
data/20141128_not_order_user_part1_79081.txt
*.txt
data/meta/2014年10月宽表字典.xlsx
data/meta/咪咕特级会员取数需求20141121.xlsx
script/proj_cache/html/check quantity variable_802f43425335a041d9b1fe14d2431c2d.RData
script/proj_cache/html/check quantity variable_802f43425335a041d9b1fe14d2431c2d.rdb
*.rdx
*.RData
*.rdb
script/proj_cache/html/__packages
*.Rhistory